// JQUERY, FONTAWESOME AND NORMALIZED CSS INSTALLED
// View settings for more info.

#formContainer
	#switch
		.bar
	form#login
		.formHeader
			h1 Login
		.formDiv
			input(type="text" placeholder="Username" name="username")
			.inputImage.fa.fa-user
		.formDiv
			input(type="password" placeholder="Password" name="password")
			.inputImage.fa.fa-lock
		.formDiv
			label#remember
				input(type="checkbox")
				.checkbox
				span Remember me
		.formDiv
			input(type="submit" value="LOGIN")
		.formFooter
			a.forgot(href="#") Forgot Password
	form#register
		.formHeader
			h1 Register
		.formDiv
			input(type="text" placeholder="Username" name="username")
			.inputImage.fa.fa-user
		.formDiv
			input(type="email" placeholder="Email" name="email")
			.inputImage.fa.fa-envelope
		.formDiv
			input(type="password" placeholder="Password" name="password")
			.inputImage.fa.fa-lock
		.formDiv
			input(type="submit" value="REGISTER")
			
			
			
			
			
